body {
    background: linear-gradient(90deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 10px;
    position: sticky;
}

header div {
    width: 100%;
    display: flex;
}

header p {
    font-size: 95%;
    width: 17%;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
}

#certosP {
    background-color: green;
}

#errosP {
    background-color: red;
}

#NumeroPerguntasP {
    background-color: indigo;
    color: whitesmoke;
}

#ComboP {
    background-color: skyblue;
}

#AjudasP {
    background-color: yellow;
}

#PontosP {
    width: 85%;
    text-align: center;
    background-color: #ff7300;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 90%;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    color: blue;
    text-shadow: 1px 1px 1px blueviolet;
    background-color: black;
    padding: 10px;
    margin-bottom: 25px;
    border: 5px solid pink;
}

#divBtn {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 225px;
    width: 400px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button {
    outline: none;
    text-align: left;
    width: 95%;
    font-size: 25px;
    padding: 5px 10px;
    padding-left: 0;
    background-color: royalblue;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    transition: all 1s;
}

button:hover {
    background-color: cornflowerblue;
}

span:nth-child(1) {
    border-radius: 6px;
    margin-right: 5px;
    height: 100%;
    padding: 5px 10px;
    color: whitesmoke;
    background-color: rosybrown;
}

#Ajuda {
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    width: 40%;
    background-color: yellow;
    margin-top: 20px;
}

a {
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid red;
    margin-top: 20px;
    color: red;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

.ColorBgRed {
    background-color: red;
}

.ColorBgGreen {
    background-color: green;
}