* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Consolas", "monaco", monospace;
    color: white;
    outline: none;
}

body {
    background-color: #24272E;
}

header {
    position: relative;
    background: white;
    padding: 20px;
}

header h1 {
    text-align: center;
    color: black;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    position: relative;
}

.badge {
    font-size: 14px;
    padding: 2px 10px;
}

#user-label {
    background: blue;
    position: absolute;
    top: 30px;
    left: -50px;
}

#computer-label {
    background: red;
    position: absolute;
    top: 30px;
    right: -25px;
}

.result {
    font-size: 40px;
    color: white;
}

.result p {
    text-align: center;
}

.choices {
    text-align: center;
    margin: 50px 0;
}

.choice {
    border: 4px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 15px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.choice:hover {
    background: rgb(0, 255, 255);
}

h2 {
    margin: 25px;
    font-size: 100px;
    color: red;
}

h2 span {
    color: blue;
}

.choicecpu {
    border: 4px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 15px;
    padding: 20px;
    transition: all 0.5s ease;
}

.choicecpu:hover {
    cursor: none;
    background: red;
}

#DivBtnReset {
    width: 100%;
    text-align: center;
}

#BtnReset {
    background-color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border: 1px solid orange;
    border-radius: 10px;
    margin: 2px;
    padding: 8px 16px;
}

#BtnReset:active {
    background-color: red;
}

.green-glow {
    border: 4px solid green;
    box-shadow: 0 0 10px rgb(0, 150, 0);
}

.red-glow {
    border: 4px solid rgb(200, 0, 0);
    box-shadow: 0 0 10px rgb(150, 0, 0);
}

.orange-glow {
    border: 4px solid orange;
    box-shadow: 0 0 10px rgb(197, 128, 0);
}