body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 90%;
    text-align: center;
    margin-top: 10px;
    background-color: greenyellow;
    border-radius: 10px;
}

h1 {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: red;
    text-shadow: 2px 2px 5px rgb(221, 36, 36);
}

#TiposDeJogos {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#divImagens {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
}

#ModoDeJogo {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

img {
    padding: 1px;
    margin: 4px;
    border: 1px solid rgb(0, 100, 100);
    width: 50px;
    height: 50px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 100, 100);
    background-color: rgb(0, 200, 200);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    padding: 4px;
    margin: 2px;
}

a:active {
    background-color: rgb(0, 60, 100);
}

footer {
    width: 90%;
}