$white: white;
$black: black;
$yellow: #eec64c;
$green: #00ea95;
$blue: #1859dd;

* {
  color: $white;
}

input,
button,
select {
  background-color: $black;
}

@mixin neon-box-shadow($color) {
  box-shadow: 0 0 2px $color, 0 0 4px $color, 0 0 8px $color, 0 0 16px $color,
    0 0 4px $color inset, 0 0 8px $color inset;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background: $black;

  h1 {
    color: $blue;
  }

  p {
    color: $green;
    span {
      color: $green;
    }
  }

  div.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    button {
      &.card {
        width: 250px;
        height: 250px;
        border: $white;
        border-radius: 6px;
        @include neon-box-shadow($white);
        cursor: pointer;
        transition: 0.5s;
      }

      &.yellow {
        background-color: $yellow;
      }
      &.green {
        background-color: $green;
      }
      &.blue {
        background-color: $blue;
      }
      &.selected {
        transform: scale(1.05);
      }
      &.disabled {
        transform: scale(0.95);
        opacity: 0.5;
      }
    }
  }
}
