* {
  color: white;
}

input,
button,
select {
  background-color: black;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: black;
}

#app h1 {
  color: #1859dd;
}

#app p {
  color: #00ea95;
}

#app p span {
  color: #00ea95;
}

#app div.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#app div.board button.card {
  width: 250px;
  height: 250px;
  border: white;
  border-radius: 6px;
  box-shadow: 0 0 2px white, 0 0 4px white, 0 0 8px white, 0 0 16px white, 0 0 4px white inset, 0 0 8px white inset;
  cursor: pointer;
  transition: 0.5s;
}

#app div.board button.yellow {
  background-color: #eec64c;
}

#app div.board button.green {
  background-color: #00ea95;
}

#app div.board button.blue {
  background-color: #1859dd;
}

#app div.board button.selected {
  transform: scale(1.05);
}

#app div.board button.disabled {
  transform: scale(0.95);
  opacity: 0.5;
}
