body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
main,
footer {
    width: 100%;
}

header {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

header h1 {
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 2;
    background-color: green;
}

div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(226, 153, 43);
}

section,
article {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
}

div section {
    width: 25%;
    background-color: rgb(226, 43, 217);
}

section h2 {
    margin: 4px 15px;
}

div section hr {
    border: 2px solid royalblue;
    border-radius: 50px;
    width: 98%;
    background-color: royalblue;
}

article {
    height: 205px;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    background-color: rgb(34, 9, 179);
}

aside {
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin: 5px;
    padding: 5px;
    background-color: blueviolet;
}

aside * {
    cursor: pointer;
}

aside:hover {
    background-color: rgb(132, 0, 255);
}

aside label:nth-child(2) {
    padding: 0 10% 0 10px;
    width: 50%;
    background-color: chartreuse;
}


/* 

Switch








*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .5s;
    transition: .5s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .5s;
    transition: .5s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* 






Switch





*/

footer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: blue;
}

footer a {
    box-shadow: 0px 6px 1px aliceblue;
    background-color: brown;
    text-align: center;
    width: 100px;
    border: 1px solid red;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

footer a:hover {
    box-shadow: 0px 3px 1px aliceblue;
    background-color: rgb(117, 30, 30);
}

footer a:active {
    box-shadow: 0px 0px 1px aliceblue;
    background-color: rgb(70, 20, 20);
}