* {
    text-align: center;
}

body {
    background-color: white;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1,
main .btn {
    width: 50%;
}

h1 {
    font-size: 50px;
    color: aqua;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
    background-color: rgb(62, 196, 196);
    color: black;
    font-size: 25px;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(38, 122, 122);
}

.btn:active {
    background-color: green;
}

@media only screen and (max-width: 380px) {
    body {
        background-color: red;
    }
    main h1,
    main .btn {
        width: 90%;
        margin: 5px 0;
    }
}

@media only screen and (max-width: 250px) {
    body {
        background-color: green;
    }
    .btn {
        font-size: 20px;
    }
}